<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="connection.driver_class">org.h2.Driver</property>
        <property name="connection.url">jdbc:h2:file:./chapter6</property>
        <property name="hibernate.dialect">org.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.hbm2ddl.auto">create</property>
        <property name="hibernate.show_sql">true</property>
        <property name="hibernate.discriminator.ignore_explicit_for_joined">true</property>
        <property name="connection.username"></property>
        <property name="connection.password"></property>
        <mapping class="com.apress.hibernaterecipes.chapter6.recipe1.Book1"/>
        <mapping class="com.apress.hibernaterecipes.chapter6.recipe1.Chapter1"/>

        <mapping class="com.apress.hibernaterecipes.chapter6.recipe1.Book1Embedded"/>

        <mapping class="com.apress.hibernaterecipes.chapter6.recipe2.Book2"/>
        <mapping resource="com/apress/hibernaterecipes/chapter6/Book2IdBag.hbm.xml"/>

        <mapping class="com.apress.hibernaterecipes.chapter6.recipe4.Book4"/>

        <mapping class="com.apress.hibernaterecipes.chapter6.recipe5.Book5"/>

        <mapping class="com.apress.hibernaterecipes.chapter6.recipe6.Book6NaturalSorting"/>
        <mapping class="com.apress.hibernaterecipes.chapter6.recipe6.Book6InvertedSorting"/>
        <mapping class="com.apress.hibernaterecipes.chapter6.recipe6.Book6DatabaseSorting"/>

        <mapping class="com.apress.hibernaterecipes.chapter6.recipe7.Book7"/>
    </session-factory>
</hibernate-configuration>